{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" width="300" height="300"><br>

        </div>
<div class="col-md-6">
    <h6>{{movie.name}}</h6>
    <h6>{{movie.desc}}</h6>
    <h4>{{movie.year}}</h4>
    <a class="btn btn-warning" href="{% url 'movieA:update' movie.id  %}">update</a><br>
    <a class="btn btn-warning" href="{% url 'movieA:delete' movie.id  %}">delete</a><br>
</div>
    </div>
</div>





{% endblock %}

